

@font-face {
    font-family: Gilroy-ExtraBold;
    src: url(../font/Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: Gilroy-Light;
    src: url(../font/Gilroy-Light.otf);
}

@font-face {
    font-family: Ubuntu-MediumItalic;
    src: url(../font/Ubuntu-MediumItalic.ttf);
}
