body {
    width: 100%;
    max-width: 1400px;
    height: 100vh;
    margin: 0 auto;    
}
a {
    text-decoration: none;
}
.block-content {
    width: 100%;
    height: 100vh;
    background-color: #080808;
    background-image: url(../img/slice_3.png);
    background-repeat: no-repeat;
    position: relative;
}

header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 44px;
    
}
.logo {
    width: 320px;
    height: 50px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    margin-left: 190px;
    
}
.logo p {
    opacity: 0.2;
    color: #ffffff;
    font-family: "Gilroy-ExtraBold";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.62px;
    margin: 13px  0 0 140px;
}
.call {
    margin-right: 183px;
}

.call a {
    color: #ffffff;
    font-family: "Gilroy-ExtraBold";
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 0.75px;
}
 header a img {
    margin-bottom: -7px;
}

.call p {
    color: #ffffff;
    font-family: "Ubuntu-MediumItalic";
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding-left: 70px;
}
.content-main {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
    
}
.nav-page {
    height: 260px;
    width: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 190px;
    position: fixed;
    z-index: 999;
}
.toggle-page {
    width: 27px;
    height: 160px;
}

.page-all-class {
    width: 10px;
    height: 10px;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
   
}
 .dots {
    width: 7px;
    height: 7px;
    background-color: #5327ff;
    border-radius: 50%;
     
}

.page-active {
    width: 12px;
    height: 12px;
    
    margin-left: -1px;
    
    background-image: url(../img/Ellipse_1.png) ;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: -2px -2px;
    
    -webkit-box-shadow: 0px 0px 10px 13px #252460;
    box-shadow: 0px 0px 10px 13px #252460;
    
    border-radius: 50%;
    
    cursor: pointer;
}


.nav-page p {
    width: 110px;
    position: absolute;
    top: 230px;
    right: 0;
    opacity: 0.2;
    color: #ffffff;
    font-family: "Gilroy-ExtraBold";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2.79px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin: 0;
    
}

.form-legs {
    width: 698px;
    height: 698px;

    background-image: url(../img/form-bg.png);
    margin-right: 60px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.form-legs form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.form-legs form h2  {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5327ff), to(#11aeff));
    background-image: linear-gradient(to bottom, #5327ff 0%, #11aeff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    color: #2389ff;
    font-family: "Gilroy-ExtraBold";
    font-size: 64px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8.61px;
    
}
.form-legs form h1 {
    color: #ffffff;
    font-family: "Gilroy-ExtraBold";
    font-size: 161px;
    font-weight: 400;
    margin: 0;
    letter-spacing: 1px;
}
.form-legs form input {
    width: 290px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    margin-left: 60px;
    border-bottom: 2px solid #5327ff;
    height: 55px;
    color: #ffffff;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.45px;
    
}

.form-legs form button {
    width: 401px;
    height: 90px;
    border: 0;
    border-radius: 50px;
    margin-top: 50px;
    -webkit-box-shadow: 0 0 90px 16px rgba(35, 31, 32, 0.75);
    box-shadow: 0 0 90px 16px rgba(35, 31, 32, 0.75);
    background-color: #5327ff;
    background-image: linear-gradient(-187deg, #5327ff 0%, #11aeff 100%);
    color: #ffffff;
    font-family: "Gilroy-ExtraBold";
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.23px;
}
.form-legs form button:hover {
    cursor: pointer;
}

.circle-absolute {
    width: 18px;
    height: 18px;
    background-position: center;
    background-image: url(../img/o.png);
    position: absolute;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    
}
.circle-absolute-big {
    width: 31px;
    height: 31px;
    background-image: url(../img/o-big.png);
    background-position: center;
    position: absolute;
    left: 320px;
    top: 570px;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}
.circle-absolute-1 {
    left: 450px;
    top: 444px;
}
.circle-absolute-2 {
    left: 630px;
    top: 464px;
}
.circle-absolute-3 {
    left: 620px;
    top: 600px;
}
.circle-absolute:hover,.circle-absolute-big:hover{
    -webkit-box-shadow: 0px 0px 10px 5px #5327ff;
    box-shadow: 0px 0px 10px 5px #5327ff;
}

@media only  screen and (max-width: 1000px ) {
    .circle-absolute,
    .circle-absolute-big{
        display: none;
    }
}

@media only  screen and (max-width: 900px ) {
    header .logo {
        margin-left: 0px;
    }
    .nav-page {
        padding-left: 50px;
    }
    .call {
    margin-right: 0px;
}
    header {
        justify-content: space-around;
    }
}
@media only  screen and (max-width: 780px ) {
    .content-main {
/*        width: 70%;*/
        
        
    }
    .form-legs {
        margin-right: 0;
        background-size: contain;
        background-repeat: no-repeat;
    }
}



@media only  screen and (max-width: 640px ) {
     header {
        flex-direction: column;
         align-items: center;
    }
    header .logo  {
        margin-bottom: 20px;
    }
}
@media only  screen and (max-width: 600px ) {
    .form-legs form h2 {
        font-size: 40px;
    }
    .form-legs form h1 {
        font-size: 100px;
    }
    .form-legs {
        text-align: center;
}
    .form-legs form button {
        font-size: 25px;
    }
    
}

@media only  screen and (max-width: 430px ) {
    .form-legs form button {
        width: 300px;
        height: 70px;
        
        font-size: 20px;
        
    }
    .form-legs form input {
        width: 300px;
        margin: 0;
    }
    header .logo {
        width: 100%;
    }
    .logo p {
        margin: 13px 0 0 110px;
    }
    .nav-page {
        display: none;
    }
}





























.block-content2 {
    width: 100%;
    height: 100vh;
    background-color: #0055;
    background-image: url(../img/workoutmen2.png);
    background-color: #080808;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.shadow-man {
    width: 500px;
    height: 370px;
    position: absolute;
    background-image: url(../img/shadow-man1.png);
    background-repeat: no-repeat;
    background-position: 70px 0;
    top: -180px;
    right: 0px;
    
}
.center-info {
    height: 100%;
    position: relative;
    padding: 0 0 0 30px;
}
.center-info h2 {
    color: #ffffff;
    font-family: "Gilroy-ExtraBold";
    font-size: 58px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8.61px;
    margin: 43px 0 0 0;
}

.center-info h1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5327ff), to(#11aeff));
    background-image: linear-gradient(to bottom, #5327ff 0%, #11aeff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Gilroy-ExtraBold";
    font-size: 101px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.69px;
    margin: -23px 0 0 0;
}
.center-info p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    font-family: "Gilroy-Light";
    font-weight: 300;
    letter-spacing: 0.4px;
}
.center-info p strong {
    font-weight: 800;
}

.play {
    width: 68px;
    height: 78px;
    background-image: url(../img/pl.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 250px;
    bottom: 390px;
    cursor: pointer;
}
.box-video {
    width: 50%;
    height: 50%;
    position: absolute;
    display: none;
}
.close-video {
    color: #fff;
    position: absolute;
    right: -100px;
    top: 0;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.close-video:hover {
    color: lightgray;
}

@media only  screen and (max-width: 1300px ) {
    .block-content2 {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        justify-content: center;
    }
    .shadow-man {
/*        width: 50%;*/
        display: none;
    }
    .play {
        left: 10%;
        bottom: 44%;
    }
}

@media only  screen and (max-width: 1000px ) {
    .play {
        left: 15%;
        bottom: 44%;
    }
    .box-video {
        width: 70%;
        height: 50%;
    }
    .close-video {
        right: -60px;
    }
}
@media only  screen and (max-width: 870px ) {
    .play {
        left: 19%;
        bottom: 44%;
    }
}

@media only  screen and (max-width: 770px ) {
    .play {
        left: 50%;
        bottom: 44%;
    }
}
@media only  screen and (max-width: 600px ) {
    
    .center-info h2 {
        font-size: 40px;
    }
    
    .center-info h1 {
        font-size: 80px;
        margin-top: 0px;
    }
}

@media only  screen and (max-width: 550px ) {
    .box-video {
        width: 100%;
        height: 20%;
        
        z-index: 999;
    }
    .close-video {
        right: 0;
        top: -40px;
    }
    
}

@media only  screen and (max-width: 430px ) {
    
    .center-info h2 {
        font-size: 30px;
    }
    
    .center-info h1 {
        font-size: 60px;
        margin-top: 0px;
    }
    .center-info {
        padding: 0;
    }
}











.block-content3 {
    width: 100%;
    height: 100vh;
    
    background-color: #080808;
    background-image: url(../img/girls2.png);
    background-repeat: no-repeat;
    background-position: 140px -80px;
    
    position: relative;
}

.year168 {
    width: 420px;
    height: 420px;
    
    background-image: url(../img/Banner.png);
    background-size: cover;
    position: absolute;
    
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    
    left: 50%;
    top: -14%;
    
    z-index: 999;
}

.motivation {
    width: 290px;
    height: 290px;
    
    border-radius: 50%;
    background-image: url(../img/form-room.png);
    
    position: absolute;
    right: 18%;
    top: 5%;
}

.motivation p {
    color: #ffffff;
    
    font-family: "Gilroy-ExtraBold";
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.8px;
    
    position: absolute;
    bottom: 20%;
    right: 10%;
}

.motivation-circle {
    width: 31px;
    height: 30px;
    
    border-radius: 50%;
    
    background-image: url(../img/o_copy.png);
    background-position: -1px -1px;
    
    position: absolute;
    bottom: 30%;
    right: -6%;
    
    -webkit-box-shadow: 0px 0px 10px 5px #5327ff;
    box-shadow: 0px 0px 10px 5px #5327ff;
}

.simulators {
    width: 290px;
    height: 290px;
    
    background-image: url(../img/shutterstock_431085517-e1474404218362.png);
    
    border-radius: 50%;
    
    position: absolute;
    top: 47%;
    left: 26%;
    
}

.simulators p {
    color: #ffffff;
    
    font-family: "Gilroy-ExtraBold";
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    
    margin: 0;
    letter-spacing: 2.8px;
    
    position: absolute;
    bottom: -2%;
    right: 30%;
    
}

.simulators-circle {
    width: 31px;
    height: 30px;
    
    border-radius: 50%;
    
    background-image: url(../img/o_copy.png);
    background-position: -1px -1px;
    
    position: absolute;
    bottom: 3%;
    right: 15%;
    
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0px 0px 10px 5px #5327ff;
    box-shadow: 0px 0px 10px 5px #5327ff;
}

.elena-form {
    width: 570px;
    height: 500px;
    
    background-image: url(../img/light.png);
    background-position:  14px 20px;
    background-size: 110%;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
    position: absolute;
    right: 8%;
    top: 40%;
}

.elena-form input {
    width: 399px;
    height: 55px;
    
    border: 0;
    border-bottom: 3px solid #5327ff;
    
    background-color: rgba(0,0,0,0);
    
    color: #fff;
    
    font-family: Gilroy;
    font-size: 18px;
    letter-spacing: 0.45px;
}

.elena-form a {
    color: #ffffff;
    
    font-family: "Gilroy-ExtraBold";
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.23px;
    
    width: 401px;
    height: 90px;
    
    -webkit-box-shadow: 0 0 90px 16px rgba(35, 31, 32, 0.75);
    box-shadow: 0 0 90px 16px rgba(35, 31, 32, 0.75);
    
    background-color: #5327ff;
    background-image: linear-gradient(-187deg, #5327ff 0%, #11aeff 100%);
    
    border-radius: 50px;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
    margin-top: 50px;
}



@media only  screen and (max-width: 1200px ) {
    .elena-form {
        right: 0;
    }
  
}

@media only  screen and (max-width: 1065px ) {
    .block-content3 {
        height: auto;
        
        background-position: center;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .year168,
    .motivation,
    .simulators,
    .elena-form {
        position: inherit;
        
        top: 0;
        left: 0;
        
        margin-top: 5%;
    }
    .year168 {
        width: 290px;
        height: 290px;
        
        transform: translate(0)
    }
    .motivation p {
        bottom: -2%;
        right: 30%;
        
        margin: 0;
    }
    
    .motivation-circle {
        bottom: 3%;
        right: 15%;
    }
}

@media only  screen and (max-width: 600px ) {
    .elena-form {width: 100%;}
    .elena-form input {
        width: 290px;
    }
    
    .elena-form a {
        width: 290px;
        font-size: 24px;
    }
}














.block-content4 {
    width: 100%;
    height: 100vh;
    
    background-image: url(../img/74ea2a6bb3e054b8273fce15714156381.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;

}

.content4-info h2 {
    color: #080808;
    
    font-family: "Gilroy-ExtraBold";
    font-size: 53px;
    font-weight: 400;
    text-transform: uppercase;
    
    letter-spacing: 8.61px;
    
    margin: 0;
}
.content4-info  {
    position: absolute;
    
    top: 20%;
    left: 20%;
}
.content4-info h1 {
    color: #ffffff;
    
    font-family: "Gilroy-ExtraBold";
    font-size: 87px;
    font-weight: 400;
    text-transform: uppercase;
    
    letter-spacing: 4.87px;
    line-height: 80px;
    
    margin: 0;
}

.slider  {
    width: 683px;
    height: 683px;
    
    background-color: rgba(255,255,255, 0.35);
    background-image: url(../img/lightslider.png);
    background-repeat: no-repeat;
    background-position: 0 182px;
    
    border-radius: 50%;

    position: absolute;
    bottom: -14%;
    left: 28%;
}
.mark {
    width: 138px;
    height: 134px;
    
    background-image: url(../img/%E2%80%9C.png);
    
    position: absolute;
    left: 25%;
    top: 12%;
}
.content4-girl {
    width: 505px;
    height: 748px;
    
    background-image: url(../img/girls3.png);
    
    position: absolute;
    bottom: 0;
    right: 11%;
}
.slick-slider {
    width: 350px;
    height: 300px;
    
    position: absolute;
    top: 170px;
    left: 95px;
    
    z-index: 100;
}
.prev, 
.next  {
    margin: 0;
    
    opacity: 0.6;
    
    color: #000000;
    
    font-family: "Gilroy-ExtraBold";
    font-size: 14px;
    font-weight: 400;
    
    text-decoration: underline;
    letter-spacing: 2.79px;
}
.prev:hover, 
.next:hover {
    cursor: pointer;
} 
.prev {
    position: absolute;
    left: 100px;
    bottom: 188px;
    
    z-index: 100;
}
.next {
    position: absolute;
    left: 390px;
    bottom: 188px;
    
    z-index: 100;
}
.slick-slider h3 {
    color: #000000;
    
    font-family: "Gilroy-ExtraBold";
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 3.54px;
    
    margin: 0;
}

.one-year {
    opacity: 0.6;
    
    color: #010101;
    
    font-family: "Gilroy-ExtraBold";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.33px;
    
    margin: 0;
}
.fear {
    color: #000000;
    
    font-family: "Gilroy-ExtraBold";
    font-size: 16px;
    
    opacity: 0.6;
    
    line-height: 26px;
    letter-spacing: 0.4px;
    
    margin: 30px 0;
    
}


@media only screen and (max-width: 1200px ) {
    
    .content4-girl {
        right: 0;
    }
    
    .slider {
        left: 0;
    }
}
@media only screen and (max-width: 1050px ) {
    
    .content4-info {
        left: 50%;
        top: 5%;
        
        transform: translate(-50%)
    }
}
@media only screen and (max-width: 800px ) {
    
    .content4-info h2 {
        font-size: 35px;
    }
    
     .content4-info h1 {
         width: 290px;
         
         font-size: 50px;
         line-height: 60px;
    }
    
    .content4-girl {
        display: none;
    }
    
    .slider {
        left: 50%;
        transform: translate(-50%);
        
    }
     
}

@media only screen and (max-width: 710px ) {
    
    .slider {
        width:  100%;
        
        border-radius: 40px;
        
        bottom: 0;
        
        background-position: 0px 320px;
    }
    
    .mark {
        left: 60%;
    }
}

@media only screen and (max-width: 530px ) {
    
    .slider {
       height: 500px;
    }
    
    .next {
        left: 310px;
        bottom: 6px;
    }
    
    .prev {
        bottom: 6px;
        left: 95px
    }
    
    .slick-dots {
        width: 80% !important;
    }
}

@media only screen and (max-width: 430px ) {
    
    .slider>div {
        left: 5%;
    }
    
    .prev {
        left: 6%;
    }
    
    .next {
        left: 210px;
    }
    
    .slick-dots {
        width: 75% !important;
    }
}





.block-content5 {
    width: 100%;
    height: 120vh;
    
    background-color: #080808;
    background-image: url(../img/light-form.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 200px  200px;
    
    position: relative;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
    z-index: 50;
    
}

.content5-top-red {
    width: 100%;
    height: 270px;
    
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #cc0e27), to(#a2123e));
    
    background-image: linear-gradient(180deg, #cc0e27 50%, #a2123e 100%);
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.go-train {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.go-train a  {
    padding: 30px 72px; 
    
    border-radius: 40px;
    
    color: #ffffff;
    
    font-family: "Gilroy-ExtraBold";
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    
    letter-spacing: 1.36px;
    
    -webkit-box-shadow: 0px 0px 70px 10px #fff;
    box-shadow: 0px 0px 70px 10px #fff;
}

.go-train  p{
    opacity: 0.6;
    
    color: #ffffff;
    
    font-family: "Gilroy-ExtraBold";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.33px;
    
    margin: 20px 0 0 0 ;
}

.man-train {
    width: 856px;
    height: 865px;
    
    position: absolute;
    top: 10%;
    left: 50%;
    
    -webkit-transform: translate(-50%);
    
    transform: translate(-50%);
    
    border-radius: 40px;
    
}

.man-train div:first-child {
    width: 100%;
    height: 100%;
    
    background-image: url(../img/manbg.png);
    background-repeat: no-repeat;
    background-size: 80%;
    
    position: absolute;
    
    z-index: 20;
}

.man-train div:last-child {
    width: 100%;
    height: 100%;
    
    background-image: url(../img/light_blue.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: -60px 200px;
    
    position: absolute;
}

.content5-center-block {
    width: auto;
    height: auto;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
    position: relative;
    
    margin-top: 20%; 
}

.city-absolute {
    width: 100%;
    height: 100%;
    
    
    position: absolute;
    
    z-index: 0;
}

.left,
.right {
    z-index: 50;
}

.left {
    margin: 0 0 80px 100px;
    width: 300px;
}

.left>.logo {
    margin-left: 0;
}

.left p {
    
    opacity: 0.7;
    
    color: #ffffff;
    
    font-family: "Gilroy-ExtraBold";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.62px;
    
    margin: 0;
}

.left h3 {
    color: #ffffff;
    
    font-family: "Gilroy-ExtraBold";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.62px;
}

.left span {
    color: #616161;
    
    font-family: "Gilroy-ExtraBold";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.24px;
}

.right form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    
    z-index: 40;
    
    margin-bottom: 40px;
}
.right form h2 {
    color: #ffffff;
    
    font-family: "Gilroy-ExtraBold";
    font-size: 58px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8.61px;
    
    margin: 0;
}

.right form h1 {
    
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3e51ff), to(#189fff));
    
    background-image: linear-gradient(to bottom, #3e51ff 0%, #189fff 100%);
    background-clip: text;
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    color: #ffffff;
    
    font-family: "Gilroy-ExtraBold";
    font-size: 101px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.69px;
    
    margin: 0;
}

.right form input{
    width: 399px;
    height: 55px;
    
    border: 0;
    border-bottom: 3px solid #5327ff;
    
    background-color: rgba(0,0,0,0);
    
    color: #fff;
    
    font-family: Gilroy;
    font-size: 18px;
    letter-spacing: 0.45px;
    
    margin-left: 45px;
}

.right form a {
    width: 388px;
    height: 82px;
    
    color: #ffffff;
    
    background-color: #5327ff;
    background-image: linear-gradient(-187deg, #5327ff 0%, #11aeff 100%);
    
    border-radius: 50px;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
    margin-top: 50px;
    
    font-family: "Gilroy-ExtraBold";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.23px;
}

.right>a {
    opacity: 0.5;
    
    color: #199dff;
    
    font-family: "Gilroy-ExtraBold";
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0.6px;
    
    margin: 0 0 0 85px;
}

.social {
    width: 130px;
    height: 25px;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    
    margin-top: 20px;
    margin-left: 350px;
}
.social div a {
    width: 100%;
    height: 100%;
    
    display: block;
}

.social .facebook {
    width: 25px;
    height: 25px;
    
    background-image: url(../img/f.png);
    background-repeat: no-repeat;
}

.social .insta {
    width: 25px;
    height: 25px;
    
    background-image: url(../img/i.png);
    background-repeat: no-repeat;
}

.social .twitter {
    width: 25px;
    height: 25px;
    
    background-image: url(../img/t.png);
    background-repeat: no-repeat;
}

.content5-city {
    width: 60px;
    height: 60px;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
    position: absolute;
}

.content5-city div {
    width: 15px;
    height: 16px;
    
    border: 3px solid #228cfd;
    border-radius: 50%;
    
    margin-left: -5px;
    
    -webkit-transition: all 0.1s ease;
    
    transition: all 0.1s ease; 
}

.content5-city p {
    color: #228cfd;
    
    font-family: "Gilroy-ExtraBold";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4.13px;
    
    margin: 0 0 5px 0 ;
    
    -webkit-transition: all 0.1s ease;
    
    transition: all 0.1s ease;
}

.city-absolute .content5-city:nth-child(1) {
    top: -50px;
    left: 70px;
}

.city-absolute .content5-city:nth-child(2) {
    top: -70px;
    left: 320px;
}

.city-absolute .content5-city:nth-child(3) {
    top: 90px;
    left: 335px;
}

.content5-city:hover{
    cursor: pointer;
}

.target1:hover p,
.target2:hover p,
.target3:hover p {
    font-size: 16px;
    color: #fff;
}

.target1:hover div,
.target2:hover div,
.target3:hover div {
    width: 17px;
    height: 17px;
    
    border: 5px solid #fff;
}

@media only screen and (max-width: 1230px) {
    .city-absolute .content5-city:nth-child(1) {
        top: -20px;
        left: 100px;
    }
}
@media only screen and (max-width: 1170px) {
    
    .content5-center-block {
        flex-direction: column;
    }
    
    .left {
        width: 100%;
        
        margin: 0;
    }
    
    .city-absolute .content5-city:nth-child(1) {
        left: 100%;
        top: 0;
    }
    .city-absolute .content5-city:nth-child(2) {
        left: 100%;
        top: 20%;
    }
    .city-absolute .content5-city:nth-child(3) {
        left: 100%;
        top: 40%;
    }
    
}


@media only screen and (max-width: 880px) {
    .man-train {
        width: 80%;
    }
    
}

@media only screen and (max-width: 700px) {
    .content5-center-block {
        width: 60%;
    }
    .right  {
        width: 100%;
        margin-top: 10%;
    }
    .right form input {
        margin: 0;
    }
    .right form h1 {
        font-size: 60px;
    }
    .right form h2 {
        font-size: 40px;
    }
    .man-train {
        top: 24%;
        left: 50%;
    }
    .right form input {
        width: 100%;
    }
    .right form a {
        width: 100%;
        height: 60px;
        
        font-size: 16px;
    }
    
}

@media only screen and (max-width: 600px) {
    .city-absolute .content5-city:nth-child(1) {
        left: 90%;
        top: 0;
    }
    .city-absolute .content5-city:nth-child(2) {
        left: 90%;
        top: 10%;
    }
    .city-absolute .content5-city:nth-child(3) {
        left: 90%;
        top: 20%;
    }
}

@media only screen and (max-width: 620px) {
    .social {
        margin-left: 65%;
    }
    .right > a {
        margin: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .right form h1 {
        font-size: 50px;
    }
    .left > .logo {
        width: 100%;
    }
}



@media only screen and (max-width: 430px) {
    .go-train a {
        padding: 20px 30px;
    }
    .man-train div:last-child {
        background-image: none;
    }
    .right {
        width: 100%;
    }
    
    .content5-center-block {
        width: 80%;
    } 
    .city-absolute .content5-city:nth-child(1) {
        left: 80%;
    }
    .city-absolute .content5-city:nth-child(2) {
        left: 80%;
    }
    .city-absolute .content5-city:nth-child(3) {
        left: 80%;
    }
    .social {
        margin-left: 45%;
    }
}


.block-content6 {
    width: 100%;
    height: 100vh;
    background-color: #2255;
/*    position: relative;*/
}
